*{
    margin: 0px;
}
.lampada {
    background-image: url(../img/desligada.png);
    width: 150px;
    height: 200px;

    border-radius: 50%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
h1{
    color: white;
}
