*{
    margin: 0;
    padding: 0;
    list-style: none;

}
a:visited{
    color: aliceblue;
}
a{
    text-decoration: none;
}

body > header {
    width: 99%;
    background-color: black;
    padding: 5px;
    box-shadow: 0px 0px 7px;   
}
body > header > nav > ul {
display: flex;
justify-content: flex-end;
margin-right: 20px;
flex-wrap: wrap;
}
header > h1 {
    color: aliceblue;
    float: left;
    margin-left: 50px;
}
 body > header > nav li {
    width: 100px;
    background-color: rgb(31, 29, 29);
    padding: 10px;
    transition: all 0.1s ease-in-out;
    margin-left: 5px;    
}
body > header > nav > li a{
    color: rgb(0, 100, 187);
    font-weight: bolder;
    font-size: 15px;
    text-decoration: none;
    list-style: none;

}
 body > header > nav li:hover {
    background-color: black;
}
.submenu > ul{
    display: none;
    position: absolute;
    list-style: none;
    padding: 15px;
    color: white;
    margin-left: -30px;
}

.submenu:hover > ul {
    display: block;
 
}
main{
    width: 98%;
    margin-top: 20px;
    padding: 10px;
    display: flex;

}
main > h1 {
    text-align: center;
    background-color: rgb(138, 138, 138);
    margin-bottom: 30px;
    margin-left: -10px;
    
}
main section {

overflow: auto;
padding: 30px;
margin: 20px;
box-shadow: 2px 2px 10px;
border-radius: 10px;
}

#rodape {
    background: black;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;


}

#mapa {
    width: 87%;
    background-color: rgb(13, 8, 29);
    padding: 30px;
}
#new {
    padding: 30px;
}

@media screen and (max-width: 900px){
    main{
        display: flex;
        flex-direction: column;
    }
    #rodape {
       flex-wrap: wrap;  
       flex-direction: column;
    
    }

}