*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a:visited{
    color: aliceblue;
}
a{
    text-decoration: none;
}

body > header {
    width: 99%;
    background-color: black;
    padding: 5px;
}
body  header nav ul {
display: flex;
justify-content: flex-end;
margin-right: 20px;
flex-wrap: wrap;
}
h1 {
    color: aliceblue;
    float: left;
    margin-left: 50px;
}
 body > header > nav li {
    width: 100px;
    background-color: rgb(31, 29, 29);
    padding: 10px;
    transition: all 0.1s ease-in-out;
    margin-left: 5px;

    
}
body > header > nav > li a{
    color: rgb(0, 100, 187);
    font-weight: bolder;
    font-size: 15px;
    text-decoration: none;
    list-style: none;
}
 body > header > nav > li:hover {
    background-color: black;
}
.submenu > ul{
    display: none;
    position: absolute;
    list-style: none;
    padding: 15px;
    color: white;
    margin-left: -30px;
}

.submenu:hover > ul {
    display: block;
 
}
.meio-content {
    display: flex;
    flex-wrap:nowrap;

}
aside {
    width: 150px;
    float: left;
    padding: 1%;
}
aside > ul {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
aside > ul > li{
    width: 100%;
    height: 40px;
    background-color: rgb(102, 102, 102);
    text-align: center;
    margin-bottom: 1px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}
video {
    width: 88%;
    margin-left: 20px;
}

main{
    margin-top: 10px;
    padding: 10px;
    width: 84%;
    background: rgb(255, 255, 255);
    float: right;
    display: flex;
    flex-wrap: wrap;
    
}
section {
    width: 200px;
    height: 300px;
    margin: 6px;
    margin-bottom: 30px;
    text-align: center;
    
}
section > header {
    height: 30px;
    border: 1px solid rgb(197, 197, 197);
    background-color: rgb(105, 105, 105);
    text-align: center;
    padding: 10px;
    color: white;

}
section > article {
    
    height: 220px;
    background-color: rgb(248, 248, 214);
}
section > article > img {
    width: 100%;
    height: 220px;
    background-color: rgb(248, 248, 214);
}
section > footer {
    height: 40px;
    background-color: rgb(250, 235, 235);
    font-weight: 900;
}
section .opcao {
    width: 190px;
    height: 200px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.726);
    display: none;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 20px;
    padding-left: 10px;
}
section .opcao > a > img {
    height: 50px;
}
section:hover .opcao {
    display: flex;
}

del {
    color: red;
    font-size: 13px;
}
ins {
    font-size: 17px;;
}
#rodape {
    background: black;
    height: 100%;
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;


}

#mapa {
    width: 87%;
    background-color: rgb(13, 8, 29);
    padding: 30px;
}
#new {
    padding: 30px;
}

@media screen and (max-width: 900px){
    main{
        padding: 10px;
        width: 100%;
        align-items:flex-end;
    }
    
    aside {
        width: 100%;
    }
    
    aside > ul{
        flex-direction: row;
        margin-left: 0px;
        font-weight: 900;
        font-size: 15px;
    }
    video {
        display: none;
    }
    section {
        width: 30%;
        height: 300px;
        margin: 6px;
        margin-bottom: 30px;
        text-align: center;
        
    }
    .meio-content {
        display: flex;
        flex-wrap: wrap;
    
    }
    h2 {
        font-size: 10px;
    }
    #rodape {
        flex-direction: column;
    }
    section .opcao {
        width: 25%;
       
    }
    section .opcao > a > img {
        height: 50px;
    }

}